 /* mail list */


.mail-list{
  grid-area: mail-list;
  height: min-content;

  display: grid;
  
  grid-auto-flow: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
 

    
}


.mail-item{
  position: relative;
  display: grid;
  grid-template-columns: 20px repeat(4,1fr) ;
  justify-content: space-around;
  align-content: center;
  padding: 0.2rem;
  border-bottom: 1px solid lightgray;
 
    
}

.mail-item>*:first-child{
  justify-self: start;
  
  
}



.mail-item > * {
  align-self: center;
  
}

.mail-item > *:last-child {
  justify-self: end;
  text-align: right;
}

.unread{
  font-weight: bold;
}

.popup-menu {
  position: absolute;
    height: 1rem;
    width: 100%;
    
    right: 0;
    background-color: rgba(255, 255, 255, 0.432);
    
 
}

.popup-menu>.btn:hover {
  color: rgb(167, 166, 166);
 
}