
.main-container{
       height: max-content;
    display: grid;
    grid-template-rows: 60px 50px 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    'logo-menu upper-filter app-header'
    'new-mail-btn sorting-section .'
    'side-filter mail-list mail-list'
    
    
    ;
   
}


