
.upper-filter{
    grid-area: upper-filter;
    display: grid;

    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 5px;
    
}


.logo-and-search{
    display: flex;
    gap:5px;
    align-items: center;
    justify-items: center;
    
}




.logo-and-search input {
    height: 80%;
    width: 100%;
    border-radius: 10px;
    border-width: thin;
    border-color: lightgrey;
   
    
}


.sorting-section {
    grid-area: sorting-section;
    display: flex;
   gap: 5px;
    
}

.sorting-section > * {
    background-color: rgba(0, 0, 255, 0);
    height: 100%;
    cursor: pointer;
    border-radius: 16px;
    border-color: lightgrey;
    width: 120px;
    color:var(--icons-color);
    -webkit-box-shadow: 0px 0px 10px -3px #000000; 
box-shadow: 0px 0px 10px -3px #000000;

    
  
}



.sorting-section > *:focus:not(select) {
    
  background-color: #D6E3FA;
  font-weight: bold;
}

.sorting-section > *:focus{
     font-weight: bold;
}


.sorting-section > *:hover:not(select)  {
 background-color: #D6E3FA;
}


select[name="read"] {
  text-align: center;
  text-align-last: center; 
}


.side-filter{
    grid-area: side-filter;
    display: flex;
    flex-direction: column;
}







.side-filter :hover {
    background-color: #D6E3FA;
    
}




.icon-btn {
    padding: 0;
    /* border-radius: 10px; */
}



.filter-type-title {
    font-size: 14px;
    height: 24px;
     color:#001D35;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 100%; 
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
    line-height: 20px;
    padding-left: 26px;
}

.filter-type-title:focus {
     color:#001D35;
    display: flex;
    align-items: center;
    width: 100%;

    font-weight: bold;
    background-color: #d3e3fd;
   
}


.filter-type-title:first-child > :last-child {
  margin-left: auto;



}