
.upper-filter{
    grid-area: upper-filter;
    
       margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  
}




.side-filter{
    grid-area: side-filter;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
   background-color: grey;
   
 
}