.details-container{
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    'nav-mail'
    'mail-details';
}

.nav-mail{
display: flex;
flex-direction: row-reverse;
height: min-content;
border-bottom: 0.1px solid grey;
border-top: 0.1px solid grey;
background-color: rgba(211, 211, 211, 0.411);

}

.nav-mail .icon-btn{
cursor: pointer;


}

.nav-mail .icon-btn:hover{
cursor: pointer;
color: grey;
}

.mail-details {
    display: grid;
    grid-template-areas: 
    'subject subject'
    'from createdAt '
    'to .'
    'mail-body mail-body'
    ;
    
}


.mail-details .subject{
    grid-area: subject;
    font-size: 2rem;
}

.mail-details .from{
    grid-area: from;
   font-weight: bold;
    
}

.mail-details .to {
    grid-area: to;
}

.mail-details .createdAt {
    grid-area: createdAt;
    justify-self: end;
}

.mail-details .mail-body{
    grid-area: mail-body;
}