.new-mail-btn  {
  grid-area:new-mail-btn;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.911);
 
  background-color: #c2e7ff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 16px;
  text-decoration: none;
  height: 40px;
  width: 142px;
  margin-top: 5px;
  margin-bottom: 5px;
margin-left: 8px;
}

.new-mail-btn:hover{
  
  -webkit-box-shadow: 0px 0px 10px -3px #000000; 
box-shadow: 0px 0px 10px -3px #000000;

}

.new-mail-btn:focus{
background-color: var(--button-hover-color);
}

.new-mail-btn a {
      text-decoration: none;
    /* color: inherit; */
    width: 100%;
}


.new-mail-btn.mini .compose-text  {
  display: none;
}

.new-mail-btn.mini{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  
}







.compose-icon {
  font-family: 'Material Symbols Outlined';
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compose-text {
  font-size: 16px;
  line-height: 1;
}

span.material-symbols-outlined.compose-icon{
  display: flex;
  gap: 15px;
}


.compose {
   
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 16px;
  height: 500px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  display: grid;
  grid-template-areas:
    'headline'
    'form';
  grid-template-rows: 40px 1fr;
  border-radius: 16px;
-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

.compose .headline {
    
  grid-area: headline;
  display: grid;
  align-content: center;
    background-color: var(--new-message-header);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.compose .headline h1 {
         padding-left:8px;
  
}

.compose .close-btn {
  background-color: transparent;
  align-self: center;
  border: none;
  cursor: pointer;
}

.compose-form {
  grid-area: form;
  display: grid;
  grid-template-areas:
    'inputs'
    'new-mail-content'
    'send-btn';
  grid-template-rows: 80px 1fr 40px;
  height: 100%;

}

.compose-form .inputs {
  grid-area: inputs;
  display: grid;
  gap: 8px;

}

.compose-form .inputs > * {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;

  border-bottom:1px solid;
  border-bottom-color: var(--new-message-border-bottom);;
  border-top: none;
  border-left: none;
  border-right: none;
  
 
}

.new-mail-content textarea{
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 8px;
}

.compose-form textarea,
.compose-form input:focus {
    resize: none;
  outline: none;
  border: none; 
}



.compose-form .new-mail-content {
  grid-area: new-mail-content;

}

.compose-form .new-mail-content > input {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;

}

.compose-form .send-btn {
  grid-area: send-btn;
  display: flex;

  align-items: center;
}

.compose-form .send-btn {
  grid-area: send-btn;
  display: flex;

    padding-left: 8px;
    padding-bottom: 8px;
  align-items: center;
 
}


.send-btn button{
background-color: #0b57d0;
  border: none;
  color: rgb(252, 250, 250);
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
    
}