/* Mobile */

@media(max-width:767px) {

    .main-container{
         grid-template-columns: 0 auto 1fr 70px;
         grid-template-rows:60px 1fr;
        grid-template-columns: 
        "logo-menu upper-filter upper-filter app-header"
        /* "sorting-section sorting-section sorting-section sorting-section" */
        "mail-list mail-list mail-list mail-list";
        ;
    }

   

.side-filter{
  position: fixed;
  top: 60px;
  left: 0;
  width: 240px;
  height: calc(100dvh - 60px);
  background-color: white;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%); 
  transition: transform 0.4s ease;
  z-index: 1000;
  border-radius: 10px;
background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  
}

.filter-type-title{
    height: 60px;
}

.logo-and-search input{

padding-left: 40px;
}

body.menu-open .side-filter:not(.mini) {
  transform: translateX(0);
}




  .compose-text{
    display: none;
  }

  .new-mail-btn{
    position: fixed;;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  bottom: 20px;
  right: 20px;
  
}

.filter-type-title:first-child > :last-child {
  display: none;
}


.mailLogo{
    display: none;
}

svg{
    width: 35px;
    height: 35px;
}

.logo-and-search input{
    height: 35px;
    margin-left: 8px;
}

.compose{
    height: 80dvh;
    width: 80dvw;
    z-index: 3000;
}

.logo-menu{
    margin-left: 8px;
}


.mail-item{
grid-auto-flow: row;
grid-template-columns: auto 1fr;
grid-row: 20px 20px 20px;
display: grid;
grid-template-areas: 
'mail-sender mail-date'
'mail-subject mail-subject'
'mail-body star';
height: 60px;
padding-left: 8px;
}

.mail-item>:nth-child(1){
    grid-area: star;
    width: 20px;
    height: 20px;
    justify-self: end;
}
.mail-item>:nth-child(2){
    grid-area: mail-sender;
}
.mail-item>:nth-child(3){
    grid-area: mail-subject;
}
.mail-item>:nth-child(4){
    grid-area: mail-body;
    color: grey;
}
.mail-item>:nth-child(5){
    grid-area: mail-date;
}

.popup-menu{
    display: none;
}

.sorting-section{
    display: none;

}


.logo-menu > .menu-btn::before{
    background-color: transparent;
}

.mail-details,.nav-mail{
    margin-left: 8px;
}
}