
html{
    height: 100vh;
}


body {
    margin: 0;
    height: 100%;
}


*{
    box-sizing: border-box;
   
  font-family: 'Roboto', sans-serif;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-container {
    padding: 0 1em;
}



button{
    cursor: pointer;
}
