.note-filter {
    width: 80%;
    background-color: #f1f3f4;
    border-radius: 8px;
    padding: 10px 10px;
    border: none;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    display: flex;
    cursor: text;
}

/* When anything inside .note-filter is focused, apply styles to container */
.note-filter:focus-within {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.note-filter input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 16px;
    padding: 6px 8px;
     cursor: text;
}

.note-filter .material-symbols-outlined{
    color: #5f6368;
    font-size: 30px;
    justify-self: center;
    padding: 0 10px;
    cursor: pointer;
    padding: 5px 5px;
}

 .note-filter .material-symbols-outlined:hover {
     background-color: rgba(32, 33, 36, 0.1);
     color: rgb(32, 33, 36);
     opacity: 0.71;
     border-radius: 50%;
 }

.filter-by-stuff {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

.filter-types{
    width: 650px;
    /* height: 200px; */
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.filter-types div {
    font-size: 18px;
    padding: 10px
}

.type-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 4px;
    display: flex;

}

.type-li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    color: white;
    cursor: pointer;
}

.type-li>span{
    font-size: 50px;
}


.note-btn {
    font-size: 36px;
}