 /* note list */

 .note-list {
   column-count: 4;
   column-gap: 16px;
   padding: 20px;
   overflow-y: auto;
   list-style-type: none
 }

 .note-item {
   break-inside: avoid;
   background: white;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 10px;
   width: 100%;
   margin-bottom: 16px;
   min-height: 100px;
   height: auto;
 }

 .note-item:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
   transition: box-shadow 0.2s
 }

 .note-btn {
   opacity: 0;
   display: flex;
   gap: 8px;
   transition: opacity 0.2s ease;
 }

 *:hover .note-btn {
   opacity: 1;
 }

 .note-btn button {
   background: transparent;
   border: none;
   cursor: pointer;
   padding: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: background-color 0.2s, color 0.2s, opacity 0.2s;
 }

 .note-btn button:hover {
   background-color: rgba(32, 33, 36, 0.1);
   color: rgb(32, 33, 36);
   opacity: 0.71;
 }

 .note-btn button span.material-symbols-outlined {
   font-size: 20px;
 }