.layout-container {
  display: grid;
  grid-template-columns: 5% 95%;
  height: 100vh;
}

.nav-area {
  background-color: #ddd;
  padding: 20px;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.notes-container {
  padding: 20px;
  overflow-y: auto;
}


form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1.2rem;
  resize: none;
}