 /* note list */

 .note-list {
  margin: 0 0;
   column-count: 4;
   column-gap: 16px;
   padding: 20px;
   overflow-y: auto;
   list-style-type: none;
 }

 .note-item {
   break-inside: avoid;
   background: white;
   border-radius: 8px;
   border: #e0e0e0 solid 1px;
   padding: 10px;
   width: 100%;
   margin-bottom: 16px;
   min-height: 100px;
   height: auto;
 }

 .note-item:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
   transition: box-shadow 0.2s;
 }

.pinned-title{
  margin: 0 0;
  padding-left: 20px;
  color: #5f6368;
}
