.note-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* .note-title{
    order: 1;
}

.note-txt{
    order: 2;
} */
 
.note-preview>* {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
}

/* .note-todo  li{
position: relative;
padding-left: 20px;
}

.note-todo li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px; 
  height: 10px;
  border: 2px solid rgb(87, 85, 85);
  border-radius: 2px; 
  background: transparent; 
  cursor: pointer;
} */