.layout-container {
  display: grid;
  grid-template-columns: 5% 95%; 
  height: 100vh;
}

.nav-area {
  background-color: #ddd; 
  padding: 20px;
  overflow-y: auto;
  position: sticky; 
  top: 0;
}

.notes-container {
  padding: 20px;
  overflow-y: auto; 
}