 /* home */

.home {
  height: 100vh;

  display: flex;
  justify-content: center; 
  align-items: center;    
}

.apps {
    height: 80vh;
    width: 80vh;
   
    display: grid;
    grid-template-areas: 
    'mailIcon noteIcon'
    'github-dor github-tomer'
    ;
}

.mailIcon {
    grid-area: mailIcon;
}

.noteIcon {
    grid-area: noteIcon;
}

.github-dor {
    grid-area: github-dor;
   
}

.github-tomer{
    grid-area: github-tomer;
}

.mailIcon, .noteIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailIcon{
    border-right: 0.5px solid lightgrey;
}

.mailIcon svg, .noteIcon svg {
  width: 60%;
  height: auto; 
}


 @media (min-width: 750px) {
    .home .box-container {
        display: flex;
        flex-direction: row-reverse;
    }
    .home .box1 {
        flex: 1
    }
    .home .box2 {
        width: 30vw;
    }
    
}



.github-dor,.github-tomer {
  display: flex;
  flex-direction: row;      
  align-items: start;        
  justify-content: center;     
  
  text-align: center;
  cursor: pointer;

}

.github-dor span:hover,.github-tomer span:hover{
    font-weight: bold;
}

.github-dor svg,
.github-tomer svg {
  width: 40px;
  height: 40px;

}

.github-dor span,
.github-tomer span
{
    margin-top: 0.5rem;
}