.user-msg {
     position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    background-color: #9b9b9b;
    border-radius: 10px;

}

.user-msg.open {
    bottom: 2em;
    transition: bottom .5s;
}

.user-msg.success {
    background-color: lightgray
}

.user-msg.error {
    background-color: var(--color3);
}

.user-msg button{
    border-radius: 8px;
    border-width: 0.01px;
  position: absolute;
   top:-5px;
   right: -5px;
}